<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/ruben.css">

        <title>Escape room Gratuito | Paisarium</title>
        <link rel="icon" href="../img/Bandera-icono.png" type="image/x-icon">
        <form action="scaperoom-gratis.html" method="post">
        <input type="hidden" name="enigma" value="1">
        </form>
            
            <div class="paises" id="imagen principio">
            <h1>Un monton de paises en el limbo</h1>
            </div>
    </head>

    <body>
    

    <div class="pregunta" id="parte-2">
            <h4>Cual es esta bandera?</h4>
            <p>
                <img src="https://www.banderas-mundo.es/data/flags/w702/br.png">   
            </p>
    </div>

    
    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div> 

    <div class="pregunta" id="parte-3">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/bn.png">
        </p>
    </div>

    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>

    <div class="pregunta" id="parte-4">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/ba.png">   
        </p>
    </div>

    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>

    <div class="pregunta" id="parte-5">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/af.png"> 
        </p>
    </div>

    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>

    <div class="pregunta" id="parte-6">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/bz.png"> 
        </p>
    </div>

    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>

    <div class="pregunta" id="parte-7">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/bn.png">   
        </p>
    </div>

    <div class="juego" >
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">

            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>

    <div class="pregunta" id="parte-8">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/bt.png"> 
        </p>
    </div>

    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>

    <div class="pregunta" id="parte-9">
        <h4>Cual es esta bandera?</h4>
        <p>
            <img src="https://www.banderas-mundo.es/data/flags/w702/qa.png"> 
        </p>
    </div>

    <div class="juego">
        <form action="scaperoom-gratis.html" method="post">
            <input type="hidden" name="enigma" value="1">
            <input name="juego" type="pregunta">
            <input name="juego" type="submit" value="Comprobar respuesta">
        </form>
    </div>
</body>

    <footer>
        <div class="footer">
            <div class="padding-elementos">
                <a href="../view/tercerreto.html">Anterior</a>
            </div>
            <div class="padding-elementos">
                <a href="../view/quintoreto.html">Siguiente</a>
            </div>

        </div>
    </footer>

</html>