<!DOCTYPE html>
<html lang="en">

<head>
    <title>San Silvestre de Vallecana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/joan.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@0;1&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header" id="header">
        <h1>Welcome to</h1>
        <h1>PaginaFinal</h1>
    </div>

    <div class="one-column">
        <h1>¡Felcicidades Campeon/a !</h1>
        <p>Has complerado con exito el Scape room </p>
        <a href="../view/octavoreto.html">Anterior</a>
        <a href="../index.html">Pagina de Inicio</a>
    </div>
</body>