<!DOCTYPE html>
<html lang="en">

<head>
    <title>Scape Room</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/victor.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">
    <script src="../js/codigo.js  "></script>
</head>

<body>
    <div class="header" id="header">
        <h1>Primer reto!</h1>
    </div>

    <div class="row">
        <div class="one-column">
            <p>¿Qué país es?</p>
            <img src="../armenia.png" alt="img2">
        </div>
    </div>

    <div class="row">
        <div class="one-column">
            <input type="text" name="val-1" id="val-1" placeholder="Introduce tu país">
            <a href="tercerreto.html" onclick="return val_1()">Validar reto</a>
        </div>
        <a href="../index.html">Anterior</a>
        <a href="tercerreto.html">Siguiente</a>
    </div>
</body>