<!DOCTYPE html>
<html lang="en">

<head>
    <title>San Silvestre de Vallecana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/joan.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital@0;1&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="header" id="header">
        <h1>Welcome to</h1>
        <h1>PAG7</h1>
    </div>

    <div class="row" id="section1">
        <div class="one-column">
            <h1>Adivina El nombre de la siguiente bandera</h1>
            <img src="../img/peru.jpg">
        </div>
    </div>

    <div class="row">
        <div class="one-column">
            <input type="text" name="val-1" id="val-1" placeholder="introduce tu país">
            <a href="octavoreto.html" onclick="return val_1()">Validar reto</a>
        </div>
        <a href="../view/sextoreto.html">Anterior</a>
        <a href="../view/octavoreto.html">Siguiente</a>
    </div>
</body>